<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>

        <!-- ###+ symfony/routing ### -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL" value="postgresql://aqua_note:secret@127.0.0.1:5432/aqua_note_test?serverVersion=16&amp;charset=utf8"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
